# Ignore configuration
#/config/*

# Wordpress
/wordpress/*
!/wordpress/.htaccess
!/wordpress/wp-content


# NPM 
/node_modules/*
npm-debug.log

# Bower
/bower_components/*

# SRC
/src-theme/img/source/*